.sprites { background: url(sprites.png) no-repeat; }
.edition_2004 { width: 792px; height: 641px; background-position: -1671px -640px; }
.edition_2005 { width: 959px; height: 641px; background-position: -4644px -640px; }
.edition_2006 { width: 863px; height: 643px; background-position: -2464px -602px; }
.edition_2007 { width: 861px; height: 641px; background-position: 0 -640px; }
.edition_2008 { width: 1315px; height: 603px; background-position: -3328px -642px; }
.edition_2009 { width: 1261px; height: 601px; background-position: -2073px 0; }
.edition_2010 { width: 1259px; height: 641px; background-position: -3335px 0; }
.edition_2011 { width: 808px; height: 619px; background-position: -862px -640px; }
.edition_2012 { width: 1000px; height: 639px; background-position: -4595px 0; }
.edition_2013 { width: 1016px; height: 639px; background-position: -1056px 0; }
.edition_2014 { width: 1055px; height: 639px; background-position: 0 0; }