.sprites { background: url(sprites.png) no-repeat; }
.thumb_antonio_ferreira { width: 100px; height: 100px; background-position: 0 0; }
.thumb_claudia_queiros { width: 100px; height: 100px; background-position: 0 -101px; }
.thumb_david_mota { width: 100px; height: 100px; background-position: 0 -202px; }
.thumb_francisco_nunes { width: 100px; height: 100px; background-position: 0 -303px; }
.thumb_luis_gameiro { width: 100px; height: 100px; background-position: 0 -404px; }
.thumb_paulo_guedes { width: 100px; height: 100px; background-position: 0 -505px; }
.thumb_ricardo_mendes { width: 100px; height: 100px; background-position: 0 -606px; }