.sprites { background: url(sprites.png) no-repeat; }
.thumb_antonio_pereira { width: 100px; height: 100px; background-position: 0 0; }
.thumb_claudia_patricia { width: 100px; height: 100px; background-position: 0 -101px; }
.thumb_luis_silva { width: 100px; height: 100px; background-position: 0 -202px; }
.thumb_rita_carvalho { width: 100px; height: 100px; background-position: 0 -303px; }
.thumb_vania_mendonca { width: 100px; height: 100px; background-position: 0 -404px; }